<launch>

  <!-- setting path parameter -->
  <arg name="driving_lane_csv" default="/home/shihclin/.autoware/data/path/moriyama_path.txt" />

  <!--
  <arg name="passing_lane_csv" default="/home/shihclin/.autoware/data/path/moriyama_path.txt" />
  -->

  <!-- Tablet UI -->
  <!--
  <include file="$(find runtime_manager)/scripts/tablet_socket.launch"/>
  -->

  <!-- vel_pose_mux -->
  <include file="$(find vel_pose_mux)/launch/vel_pose_mux.launch">
    <arg name="vel_mux_select" value="0"/>
    <arg name="pose_mux_select" value="0"/>
  </include>

  <!-- waypoint_loader -->
  <include file="$(find waypoint_maker)/launch/waypoint_loader.launch">
    <arg name="driving_lane_csv" value="$(arg driving_lane_csv)"/>
    <!-- <arg name="passing_lane_csv" value="$(arg passing_lane_csv)"/> -->
  </include>

  
  <!-- lane_navi -->
  <!--
  <include file="$(find lane_planner)/launch/lane_navi.launch">
  </include>
  -->

  <!--
  <node pkg="lane_planner" type="lane_navi" name="lane_navi" output="screen"/>
  -->

  <!-- lane_rule -->
  <node pkg="lane_planner" type="lane_rule" name="lane_rule"  output="screen"/>

  <!-- lane_stop -->
  <!--
  <node pkg="lane_planner" type="lane_stop" name="lane_stop"  output="screen"/>
  -->

  <!-- lane_select -->
  <node pkg="lane_planner" type="lane_select" name="lane_select"  output="screen"/>

</launch>
